body {
    font-family: 'Montserrat', sans-serif;
}


:root {
    --white: #FAFAFA;
    --blue: #12B0C9;
    --green: #C4DD5B;
    --dark-purple: #512DA8;
    --purple: #673AB7;
    --light-purple: #D1C4E9;
    --amber: #FFC107;
}

.pantalla {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.blank {
    height: 15vh;
}

.oculto {
    display: none;
}