
header {
    height: 8vh;
    background: var(--dark-purple);
    display: flex;
    align-items: center;
}

.btn-primary {
    background: var(--dark-purple);
}

header h1 {
    margin-left: 20px;
    margin-bottom: 0;
    color: var(--white);
}